name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  RUST_BACKTRACE: 1

jobs:
  style:
    name: Check style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - name: cargo fmt --check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  test:
    name: Test ${{ matrix.rust }} on ${{ matrix.os }}
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        os:
          - ubuntu-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt
      - name: Install protoc
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt update && sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: Install protoc
        if: matrix.os == 'macOS-latest'
        run: brew install protobuf
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

  doc:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Install protoc
        run: sudo apt update && sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: cargo rustdoc -- -D rustdoc::broken_intra_doc_links
        uses: actions-rs/cargo@v1
        with:
          command: rustdoc
          args: -- -D rustdoc::broken_intra_doc_links

  docker_image:
    name: Docker image
    if: github.ref == 'refs/heads/main'
    needs: [style, doc, test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get shortened commit hash for tagging
        id: shortened_hash
        run: echo ::set-output name=hash::$(git log -1 --format=%h)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build & push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/ewilken/starlink-exporter:latest
            ghcr.io/ewilken/starlink-exporter:${{ steps.shortened_hash.outputs.hash }}
